body
  background #fff
  color #222
  margin 20px
  font 14px/18px Arial, Helvetica, sans-serif

hr
  border none
  border-top 1px solid #ccc
  margin 20px 0

button
  font 14px Arial, Helvetica, sans-serif

